body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  /*width: 100%;*/
  height: 400px;
  margin: 10px;
}

td img {
  max-width: 300px;
}

.read-more-button {
  /*display: inline-block;*/
  margin-left: 3px;
  color: #286DA8;
  cursor: pointer;
}